/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 1em; line-height: 1.4; font-family: Georgia; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color:#999; text-decoration: none; border-bottom: 1px solid #eee; }
a:visited {  }
a:hover { color:#000; border-bottom:1px solid #ccc; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
h1, h2, h3, h4, nav, small, .postmetadata, .small {font-family: Helvetica, Arial; }

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }
input[type="search"], input[type="text"], input[type="password"],input[type="date"],input[type="time"] , textarea, select {
    border: 1px solid #ccc; 
    border:1px solid #ddd; 
    border-radius:5px; 
      -moz-border-radius:5px; 
      -webkit-border-radius:5px;
      padding:5px;
      font:14px Georgia;
      background: #fafafa;
      width: 200px}
/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

h1{font-size:25px;}
h2{font-size:23px; margin: 5px;}
h3{font-size:21px; margin: 5px;}
h4{font-size:19px; margin: 5px;}
h5{font-size:17px; margin: 5px;}
h6{font-size:15px; margin: 5px;}

/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

   /* Basic */
   #container {
     width: 1000px;
     margin: 0 auto;
   }

  /* Header */
  #header {
    margin: 10px 0 10px 0;
    border-bottom: 1px solid #CCC;
  }

  #header h1{
    float: left;
    padding:0;
    margin:10px 0;
  }

  #header h1 a {
    color: #000;
    text-decoration: none;
    border:none;
  }

  #header h1 a:hover { 
    color:#c00;
    border:none;
  }

  header h1 a:last-letter {
    color:#c00;
  }

  /* Menu*/
  #header-nav {
    float: right;
    list-style: none;
    margin-right: 20px;
  }

  #header-nav .item-nav {
    float:left;
    text-transform: uppercase;
    font-weight: bold;
  }
  #header-nav ul li {
    padding: 15px 5px 5px;
  }

  #content-nav {
    
  }

  #content-nva ul {
    list-style: none;
    list-style-position: outside;
  }

  #content-nav ul li {
    float: right;
    margin-left: 5px;
    margin-bottom: -1px;
    display: block;
    padding: 5px 10px 5px 10px;
    background: #efefef;
    margin-bottom: -1px;
    border: 1px solid #ccc;
    border-width: 1px 1px 1px 1px;
    position: relative;
    cursor: pointer;
  }

  #content-nav ul li a {
    color: #666;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 0px;
  }

  #content-nav ul li.active {
    background: #fff;
    top: 1px;
    border-bottom: 0;
  }

  #content-nav ul li.active a {
    color: #c00;
    border-bottom: 1px solid #EEE;
  }
    
  .menu {
    
  }

  .menu ul {
    
  }

  .menu ul li {
    
  }

  /* Search */
  #header-search {
    float: right;
    margin: 10px 0 0 0;
  }
  .searchform {
    padding:0;
  }

  #searchbtn { 
    vertical-align:bottom;
    padding: 0 0 5px 2px;
  }
  .hidden {display: none;}

  .inactive {
    color: #AAA;
  }

  /* Sidebar */
  #sidebar {
    width: 250px;
    float: left;
  }
  #sidebar h2 {
    color: #666;
    margin: 0 0 6px 0;
    padding: 0;
  }

  .widgets {
  
  }

  .line {
    border-left: 1px solid #ccc;
  }

  .widget {
    padding: 5px 0 5px 20px;
  }

  .loginform {
    display: none;
  }

  /* Content */
  section[role=maincontent] {
    width:750px;
    float: left;
  }

  .content {
    border: 1px solid #ccc;
    text-align: left;
    padding: 10px;
    padding-bottom: 20px;
  }

  .date {
    padding-left: 30px;
    background: url(../img/calendar.png) center left no-repeat;
  }

  .time {
    padding-left: 25px;
    background: url(../img/time.png) center left no-repeat;
  }

  .item-content {
    margin: 0 0 10px 0;
  }

  .thumbnail {
    border: 10px solid #F2F2F2;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    border-image: initial;
  }

  .large_input {
    width: 725px!important;
  }

  .form input, textarea, select {
    width: 725px!important;
  }

  .div[role="view"] {
    padding: 10px;
  }
  /* User profile page is under construction now */
  .profile {
    background: url(../img/under_construction.png) top center no-repeat;
    min-height:500px;
    width: 750px;
    padding: 10px;
  }

  table .odd { background: #f5f5f5; }
  tr.odd {background: #ffffff;}

  tr.even {background:#f2f2f2;}

  .message {
    background: url(../img/mail.png) center left no-repeat;
    padding-left: 30px;
  }

  .message:hover {
    background: url(../img/mail-black.png) center left no-repeat;
  }
  /* Footer */
  #footer {
    border-top: 1px solid #CCC;
    color: #555;
    margin-top: 10px;
  }
  #footer .top {
    float: right;
    padding-right: 15px;
    background: url(../img/arrow-top.png) center right no-repeat;
  }

  #footer .top:hover {
    background: url(../img/arrow-top-black.png) center right no-repeat;
  }
  .copyright {
    float: left;
  }

  /* Pagenavi */
  .pagenavi {
    margin-top: 25px;
  }

  .pagenavi a, .pagenavi a:link {
    padding: 2px 4px 2px 4px; 
    margin: 2px;
    text-decoration: none;
    border: 1px solid #ccc;
    color: #666;
    background-color: #FFF; 
  }
  .pagenavi a:visited {
    padding: 2px 4px 2px 4px; 
    margin: 2px;
    text-decoration: none;
    border: 1px solid #ccc;
    color: #666;
    background-color: #FFF; 
  }
  .pagenavi a:hover {  
    border: 1px solid #666;
    color: #FFF;
    background-color: #666;
  }
  .pagenavi a:active {
    padding: 2px 4px 2px 4px; 
    margin: 2px;
    text-decoration: none;
    border: 1px solid #ccc;
    color: #FFF;
    background-color: #FFF; 
  }
  .pagenavi span.pages {
    padding: 2px 4px 2px 4px; 
    margin: 2px 2px 2px 2px;
    border: 1px solid #ccc;
    color: #666;
    background-color: #FFF; 
  }
  .pagenavi span.current {
    padding: 2px 4px 2px 4px; 
    margin: 2px;
    font-weight: bold;
    border: 1px solid #666;
    color: #FFF;
    background-color: #666;
  }
  .pagenavi span.extend {
    padding: 2px 4px 2px 4px; 
    margin: 2px;  
    border: 1px solid #666;
    color: #666;
    background-color: #666;
  }

  /* jQuery Timepick styles */
  #CP_hourcont {
padding: 0px;
position:absolute;
border:1px dashed #bbbbbb;
background-color:#dddddd;
display:none;
}

#CP_minutecont {
background-color:#dddddd;
padding: 0px;
position:absolute;
width:45px;
border: 1px dashed #cccccc;
display:none;
}

.floatleft {
float:left;
}

.CP_hour {
padding:1px;
font-family: Arial, Helvetica, sans-serif;
font-size:9px;
white-space:nowrap;
cursor:pointer;
width:35px;
margin:1px;
background-color:#eeeeee;
}

.CP_minute {
padding:1px;
background-color:#eeeeee;
font-family: Arial, Helvetica, sans-serif;
font-size:9px;
white-space:nowrap;
cursor:pointer;
width:auto;
margin:1px;
}

.CP_over {
background-color:#ffffff;
}

/* Datepicker styles */
.dsel {
  width: 340px;
}

.calBox {
  background-color: #928d81;
  padding: 2px;
  -moz-border-radius: 4px;
  text-align: center;
  color: white;
}

.calElement {
  margin: 1px;
  display: inline-block;
  overflow:hidden;
}

.calYear {
  font-size: 20px;
  border-bottom: 1px dashed #666;
  padding-bottom: 5px;
  margin-bottom: 5px
}

.calYear .calElement {
  border: 1px solid #999999;
}

.calMonth {
  border-bottom: 1px dashed #666;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.calMonth .calElement {
  font-size: 14px;
  border: 1px solid #999999;
}

.calDay {
}

.calDay .calElement {
  font-size: 12px;
  border: 1px solid #999999;
}

.calDay .calElement.prev {
  background: transparent url(../img/prev.png) no-repeat 0 18px;
  width: 6px;
  height: 35px
}

.calDay .calElement.next {
  background: transparent url(../img/next.png) no-repeat 0 18px;
  width: 6px;
  height: 35px;
}

span.calElement.next:hover, span.calElement.prev:hover {
  border: 1px solid #999999;
  cursor: pointer;
}

.calDay .calElement .dayNumber {
  font-size: 20px;
}


.calElement.selected {
  background-color: #404040;
  border: 1px solid #404040;
  -moz-border-radius: 3px
}

span.calElement:hover {
  background-color: #404040;
  border: 1px solid #404040;
  -moz-border-radius: 3px;
  cursor: pointer;
}

.calElement.today {
  border: 1px solid #e0e000;
  -moz-border-radius: 3px
}
/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
