{% extends "base.html" %}

{% block body %}


<nav id="content-nav" class="menu clearfix">
    <ul>
        <li id="inbox" {% if name == "Inbox" %} class="active"{% endif %}><a href="{% url pm_inbox %}">Входящие</a></li>
        <li id="outbox" {% if name == "Outbox" %} class="active"{% endif %}><a href="{% url pm_outbox %}">Отправленные</a></li>
    </ul>
</nav>
<div class="content">
	<table border="1" cellpadding="0" cellspacing="0" width="100%">

	<tr class="even">
	    <td>Время</td>
	    <td>Адресат</td>
	    <td>Адресант</td>
	    <td width="60%">Заголовок</td>
	</tr>

	{% for msg in msgs %}
	<tr class="odd">
	    <td>{{ msg.datetime|date:"d.m.Y H:i" }}</td>
	    <td><a href="{% url user_profile msg.from_user.id %}">{{ msg.from_user }}</a></td>
	    <td><a href="{% url user_profile msg.to_user.id %}">{{ msg.to_user }}</a></td>
	    <td>{% if msg.unread %}<b>{% endif %}<a href="{% url pm_view msg.id %}">{{ msg.title }}</a>{% if msg.unread %}</b>{% endif %}</td>
	</tr>
	{% endfor %}

	</table>
</div>
{% endblock %}