{% extends "base.html" %}

{% block body %}
<div role="view">
<h3>Отправка сообщения:</h3>

<form action="{% url pm_send uid %}" method="post">{% csrf_token %}
<p><label for="id_title">Заголовок</label> <input id="id_title" type="text" name="title" class="large_input" maxlength="100"></p>
<p><label for="id_text">Сообшение</label> <textarea rows="5" cols="20" id="id_text" type="textarea" class="large_input" name="text"></textarea></p>

<input type="submit" value="Отправить" />

</form>
</div>
{% endblock %}
