{% extends "base.html" %}

{% block body %}
<div role="view">
	Личное сообщение от: <a href="{% url user_profile msg.from_user.id %}">{{ msg.from_user }}</a><br>
	Кому: <a href="{% url user_profile msg.to_user.id %}">{{ msg.to_user }}</a><br>
	
	<b>{{ msg.title }}</b><br>
	{{ msg.text }}
</div>
{% endblock %}