{% load pm_tags %}

<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->
<head>

<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/libs/modernizr-2.0.6.min.js"></script>
</head>

<body>

    <div id="container">
        <header id="header" class="clearfix">
            <h1>
                <a href="{% url events_list %}">
                    Open Event Tracker
                </a>
            </h1>
                
            <div id="header-search" class="search">
                <form method="get" class="searchform" action="">
                    <input type="search" name="search-input" id="search-input" > 
                    <input type="image" src="http://openeventtracker.pp.ua/static/img/search.png" id="searchbtn" value="Search">
                </form>
            </div>

            <nav id="header-nav" class="menu">
                <ul>
                    <li class="item-nav">Страница</li>
                    <li class="item-nav">Страница</li>
                    <li class="item-nav">Страница</li>
                </ul>   
            </nav>
            </header>
            


        </header>
        <div role="main" class="clearfix">
            <section role="maincontent">
                    {% block body %}{% endblock %}
            </section>
            <aside id="sidebar">
                <div class="widgets {% if not event_type %}{% if not name == "Inbox" %}{% if not name == "Outbox" %}line{% endif %}{% endif %}{% endif %}"> 
                    <div id="widget-id" class="widget">
                        <h2>Управление</h2>
                        <nav id="sidebar-nav" class="menu">
                            <ul>
                                {% if user.is_authenticated %}
                                <li class="item-side">Приветствуем, <a href="{% url user_profile user.id %}">{{ user.username }}</a></li>
                                <li class="item-side"><a href="{% url pm_inbox %}">Личные сообщения ({% pm_count user.id %})</a></li>
                                <li class="item-side"><a href={% url event_add %}>Добавить событие</a></li>
                                <li class="item-side"><a href="/add/url/">Добавить URL</a></li>
                                <li class="item-side"><a href={% url logout %}>Выйти</a></li>
                                {% else %}
                                
                                <li class="item-side"><a href="{% url registration %}">Регистрация</a></li>
                                <li class="item-side"><a onclick="$('.loginform').animate({opacity:1},300,function(){ $('.loginform').show(); });" >Войти</a></li>
                                {% endif %}
                            </ul>   
                        </nav>
                        <div class="loginform">
                            <form action="{% url login %}" method="post">{% csrf_token %}
                                <p>Пользователь:
                                    <br><input id="id_username" type="text" name="username" size="30" class="large_input">
                                </p>
                                <p>Пароль:
                                    <br><input type="password" name="password" id="id_password" class="large_input" size="30">
                                </p>
                                <div class="gray_button">
                                    <div>
                                        <input name="apply" type="submit" value="Войти">
                                        <input type="submit" value="Закрыть" onclick="$('.loginform').animate({opacity:0},300,function(){ $('.loginform').hide(); });
                                                return false;">
                                    </div>
                                </div>
                            </form>
                            </div>
                    </div>
                </div>
            </aside>
        </div>
        <footer id="footer" class="clearfix">
            <p class="top"><a href="#header">Наверх</a></p>
            <p class="copyright"> 
            &copy; 2011 - All rights licensed | Created by OET Dev Group
            </p>

        </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.6.4.min.js"><\/script>')</script>
    <script defer src="/static/js/plugins.js"></script>
    <script defer src="/static/js/script.js"></script>


    <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
    <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <!--[if lt IE 7 ]>
        <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
        <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->

</body>
</html>