{% extends "base.html" %}

{% block body %}

<script type="text/JavaScript">
<!--
{% if next %}
setTimeout("location.href = '{{ next }}';",1500);
{% else %}
setTimeout("location.href = '{% url home %}';",1500);
{% endif %}
-->
</script>

{% block message %}{% endblock %}
<br>
Страница будет перенаправлена через 2 секунды <a href={% if next %}{{ next }}{% else %}{% url home %}{% endif %}>сюда</a>.

{% endblock %}