{% extends "base.html" %}

{% block body %}

{% if form %}

<form action="{% url login %}" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
{% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
</form>

<a href="{% url registration %}">Регистрация</a>

{% endif %}

{% endblock %}