{% extends "base.html" %}

{% block body %}

Registration success.

{% if nologin %}
<br>
Вход не был совершен. Попробуйте <a href={% url login %}>войти</a>.

{% else %}
Вход совершен успешно. <a href={% url home %}>Перейти</a> на главную.

{% endif %}

{% endblock %}