{% extends "base.html" %}

{% block body %}

{% if form %}

{% if error %}
<font color="red">Error</font><br>
{% endif %}

<form action="{% url registration %}" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endif %}

{% endblock %}