{% extends "base.html" %}

{% block body %}
<div class="profile">
	Профиль пользователя {{ usr.username }}<br/>
	{{ usr.first_name }} {{ usr.last_name }}<br/>
	<span class="message"><a href="{% url pm_send usr.id %}">Отправить сообщение</a></span>
</div>
{% endblock %}