{% extends "base.html" %}

{% block body %}
<div role="view" class="form">
<form action="/add/{{ form.Meta.url_str }}/" method="post">{% csrf_token %}
	{{ form.as_p }}


<input type="submit" value="Отправить" />

</form>
</div>
{% endblock %}