{% extends "base.html" %}

{% block body %}
<nav id="content-nav" class="menu clearfix">
    <ul>
        <li id="conf" {% if event_type == 1 %} class="active"{% endif %}><a href="http://openeventtracker.pp.ua/events/?event-type=1">Конференции</a></li>
        <li id="concert" {% if event_type == 2 %} class="active"{% endif %}><a href="http://openeventtracker.pp.ua/events/?event-type=2">Концерты</a></li>
        <li id="show" {% if event_type == 3 %} class="active"{% endif %}><a href="http://openeventtracker.pp.ua/events/?event-type=3">Выставки</a></li>
        <li id="sport" {% if event_type == 4 %} class="active"{% endif %}><a href="http://openeventtracker.pp.ua/events/?event-type=4">Спортивные события</a></li>
        <li id="other" {% if event_type == 5 %} class="active"{% endif %}><a href="http://openeventtracker.pp.ua/events/?event-type=5">Другое</a></li>
    </ul>
</nav>
<div class="content">
    {% if events_list %}
        
            {% for event in events_list %}
            <div id="event-{{ event.id }}" class="item-content clearfix">
                <a href="{% url event_view event.id %}"><h3 class="title">{{ event.name }}</h3>
                <img src="http://pashnyk.org.ua/wp-content/themes/Basic/timthumb.php?src=http://pashnyk.org.ua/wp-content/gallery/temporary/kazak_mamay.jpg&amp;h=190&amp;w=190&amp;q=100&amp;zc=1" alt="" class="thumbnail quimby_search_image"></a>
                <span class="date">{{ event.start_date|date:"d.m.Y" }}</span> <span class="time">{{ event.start_time|time:"H:i" }}</span>
                {% if event.end_date %} — <span class="date">{{ event.end_date|date:"d.m.Y" }}</span> <span class="time">{{ event.end_time|time:"H:i" }}</span>{% endif %}<br />
                Место: {{ event.place }}<br />
                {{ event.description }}
            </div>
            {% endfor %}

            <div class="pagenavi">
                <a href="{% url events_list 1 %}" class="first" style="opacity: 1; ">« Первая</a>
                {% if prevpage %}
                <a href="{% url events_list prevpage %}" class="previouspostslink">« {{ prevpage }}</a>
                {% endif %}
                <span class="current">{{ page }}</span>
                {% if nextpage %}
                <a href="{% url events_list nextpage %}" class="nextpostslink">{{ nextpage }} »</a>
                {% endif %}
                <a href="{% url events_list pages %}" class="last">Последняя »</a>
            </div>

            {% else %}

            События по заданому фильтру не найдены.

            {% endif %}
</div>

{% endblock %}