{% extends "base.html" %}

{% block body %}

Event <b><i><u>{{ event.name }}</u></i></b>
<br>started on {{ event.start_date|date:"d.m Y" }}
{% if event.start_time %}{{ event.start_time|time:"H:i" }}{% endif %}<br>
End:{% if event.end_date %}{{ event.end_date|date:"d.m Y" }}{% endif %}
{% if event.end_time %}{{ event.end_time|time:"H:i" }}{% endif %}<br>
<b>Место проведения:</b><br>
{% if event.place %}<a href="{% url events_list_filter %}?place={{ event.place.id }}">{{ event.place }}</a>
{% else %} не указано {% endif %}<br>
<b>Тип мероприятия:</b>
<a href="{% url events_list_filter %}?event-type={{ event.event_type.id }}">{{ event.event_type }}</a><br>
<b>Описание:</b>
{{ event.description }}<br>
<br>

теги: {% for tag in tags %}
<a href="{% url events_list_filter %}?tag={{ tag.id }}">{{ tag }}</a> 
{% endfor %}
<br>
людей заинтересовались: {{ event.intrested.count }}<br>
людей пойдут: {{ event.will_go.count }}<br>
<br>
создатель события: <a href="{% url user_profile event.creator.id %}">{{ event.creator }}</a>
{% endblock %}